{# Reference: https://launchcart.jp/reference/2-%e3%82%a4%e3%83%b3%e3%83%87%e3%83%83%e3%82%af%e3%82%b9%e3%83%86%e3%83%b3%e3%83%97%e3%83%ac%e3%83%bc%e3%83%88/ #}

{# Variables Settings #}

{# insert to html head title #}
{%- set category_name = category.node.getTransAttribute(lang_id) ? category.node.getTransAttribute(lang_id) : category.node.name -%}
{%- set title = category_name -%}
{%- set wraped_category = product_api.wrapProductCategory(category.node) -%}
{%- for ancestor in wraped_category.getAncestors|reverse -%}
  {%- set ancestor_category_name = ancestor.node.getTransAttribute(lang_id) -%}
  {%- set title = title ~ ' | ' ~ ancestor_category_name -%}
{%- endfor -%}

{# get base currency unit #}
{%- set baseCurrency = get_entity_manager().find('EcCoreBundle:Currency', system_config('base_currency')) -%}
{%- set baseUnitFront = baseCurrency.getBeforeUnit() -%}
{%- set baseUnitBack = baseCurrency.getAfterUnit() -%}

{# end Variables Setting #}

{% TemplateInclude "header" %}

{# Contents #}

{# Breadcrumb list (this variable setting method is written in module template "breadcrumb list") #}
{%- set breadcrumbList = [] -%}
{%- if (category.getAncestors|length > 0) -%}
{%- for ancestorCategory in category.getAncestors -%}
  {%- set breadcrumbListItem = {
      name: ancestorCategory.node.getTransAttribute(lang_id) ? ancestorCategory.node.getTransAttribute(lang_id) : ancestorCategory.node.name,
      href: path('ec_product_category', {'id': ancestorCategory.node.id})
  } -%}
  {%- set breadcrumbList = breadcrumbList|merge([breadcrumbListItem]) -%}
{%- endfor -%}
{%- endif -%}
{%- set breadcrumbListItem = {
    name: category_name,
    href: path('ec_product_category', {'id': category.node.id})
  }
-%}
{%- set breadcrumbList = breadcrumbList|merge([breadcrumbListItem]) -%}
{% TemplateInclude "breadcrumb list" %}

<div class="l-archive">
 
 {#  {% TemplateInclude "top banners" %} #}

{# ▲▲ ここまでは触らないでください ▲▲ #}

  {# メインビジュアル #}
  <style>
    .lead__bg {
      height: 60px;
    }
  </style>
  <header class="l-archive__top">
    <div class="lead">
      <div class="lead__bg"></div>
      <div class="lead__txt">
        <h2 class="lead__title"><span>{{ category_name }}</span></h2>
      </div>
    </div>
  </header>

  <div class="l-archive__main">

    {% TemplateInclude "left contents" %}

    <div class="mainContents">

      {# 商品一覧 #}
      {%- set category = category.node -%}
      {% TemplateInclude "productCategoryArchive" %}

      {# ▼▼ ここからは触らないでください ▼▼ #}

    </div>
  </div>
</div>
{% TemplateInclude "Categories" %}


{# end Contents #}

{% TemplateInclude "footer" %}
<style>
 .leftContents {
    float: left;
}
  .sidebar {
    width: 200px;
    margin-right: 68px;
    position: sticky;
    top: 180px;
}
  .mainContents {
    max-width: 940px;
}
    .sidebar .filter__title {
    font-size: 1.8rem;
    background-color: #fd7728;
    color: #fff;
    padding: 4px 14px;
}
.sidebar .filter__list {
    font-size: 1.6rem;
    margin-bottom:40px;
    border-bottom: solid 2px #fd7728;
}
    .sidebar .filter.byBrand .filter__item, .sidebar .filter.byCategory .filter__item {
    border-bottom: solid 0.5px #fd7728;
}
    .sidebar .filter.byBrand .filter__item a, .sidebar .filter.byCategory .filter__item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 6px 14px;
}
    .l-special .index>ol>li>ol>li a::before, .sidebar .filter.byBrand .filter__item a::after, .sidebar .filter.byCategory .filter__item a::after {
    content: ">";
}
    .sidebar .filter.byColor .filter__item {
    width: calc(20% - 16px);
}
    .sidebar .filter.byColor .filter__list {
    padding: 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 18.5px;
}
    .sidebar .filter__color {
    width: 30px;
    height: 30px;
    position: relative;
}
    .sidebar .filter__color--white {
    background-color: #fff;
    outline: solid 1px #707070;
    outline-offset: -1px;
}
     .sidebar .filter__color--gray {
    background-color: #797979;
}
    .sidebar .filter__color--black {
    background-color: #000;
}
    .sidebar .filter__color--brown {
    background-color: #803d26;
}
    .sidebar .filter__color--beige {
    background-color: #e6dab8;
}
    .sidebar .filter__color--green {
    background-color: #2e994c;
}
    .sidebar .filter__color--blue {
    background-color: #0060e6;
}
    .sidebar .filter__color--purple {
    background-color: #5d0d80;
}
    .sidebar .filter__color--yellow {
    background-color: #f5e431;
}
    .sidebar .filter__color--pink {
    background-color: #f6b1d7;
}
    .sidebar .filter__color--red {
    background-color: #db0028;
}
    .sidebar .filter__color--orange {
    background-color: #ff9633;
}
  section.lc-contentSection {
    margin-bottom: 60px;
}
    .sidebar {
    width: 200px;
    margin-right: 68px;
    position: sticky;
    top: 180px;
}
    .mainContents {
    max-width: 940px;
}
    .l-archive {
     padding: 0px 60px;
}
    .l-archive__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
    .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
}
    .products__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 25%;
    padding: 0 16px;
    margin-bottom: 80px;
    position: relative;
}
    .products__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
    .products__figure {
    margin-bottom: 20px;
  /*  border: solid 4px #ffedf0; */
}
    .sidebar .filter__title {
    font-size: 1.8rem;
    background-color: #fd7728;
    color: #fff;
    padding: 4px 14px;
}
.sidebar .filter__list {
    font-size: 1.6rem;
    margin-bottom: 40px;
    border-bottom: solid 2px #fd7728;
}
    .sidebar .filter.byBrand .filter__item, .sidebar .filter.byCategory .filter__item {
    border-bottom: solid 0.5px #fd7728;
}
    .sidebar .filter.byBrand .filter__item a, .sidebar .filter.byCategory .filter__item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 6px 14px;
}
    .l-special .index>ol>li>ol>li a::before, .sidebar .filter.byBrand .filter__item a::after, .sidebar .filter.byCategory .filter__item a::after {
    content: ">";
}
    .sidebar .filter.byColor .filter__item {
    width: calc(20% - 16px);
}
    .sidebar .filter.byColor .filter__list {
    padding: 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 18.5px;
}
    .sidebar .filter__color {
    width: 30px;
    height: 30px;
    position: relative;
}
    .sidebar .filter__color--white {
    background-color: #fff;
    outline: solid 1px #707070;
    outline-offset: -1px;
}
    .sidebar .filter__color--gray {
    background-color: #797979;
}
    .sidebar .filter__color--black {
    background-color: #000;
}
    .sidebar .filter__color--brown {
    background-color: #803d26;
}
    .sidebar .filter__color--beige {
    background-color: #e6dab8;
}
    .sidebar .filter__color--green {
    background-color: #2e994c;
}
    .sidebar .filter__color--blue {
    background-color: #0060e6;
}
    .sidebar .filter__color--purple {
    background-color: #5d0d80;
}
    .sidebar .filter__color--yellow {
    background-color: #f5e431;
}
    .sidebar .filter__color--pink {
    background-color: #f6b1d7;
}
    .sidebar .filter__color--red {
    background-color: #db0028;
}
    .sidebar .filter__color--orange {
    background-color: #ff9633;
}
    .productActoins {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
    line-height: 1;
    text-align: center;
}
    .productActoins__cartin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 170px;
    max-width: 100%;
    height: 35px;
   border: solid 2px #fa7026;
    background: #fa7026;
    color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
}
</style>